/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.buttonsFirst{
  background-color: #61d9fa;
  background-color: #61d9fa;
  display: block;
}
.buttonsSecond{
  color: #61d9fa;
  display: block;
}
.buttonsFirst:hover{
  background-color: white;
}
.buttonsSecond:hover{
  color: white;
}
