/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.section {
  padding: 72px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.buttonsFirst{
  background-color: #61d9fa;
  background-color: #61d9fa;
  display: block;
}
.buttonsSecond{
  color: #61d9fa;
  display: block;
}
.buttonsFirst:hover{
  background-color: white;
}
.buttonsSecond:hover{
  color: white;
}

.friendsSection > :global(.col) > * {
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .friendsSection > :global(.col:last-child) > *:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 997px) {
  .friendsSection > :global(.col) > *:last-child {
    margin-bottom: 0;
  }
}